//边框线
@import "common.styl"

.border {
  position: relative;

  &::after {
    border_line();
    border-width 1px;
  }
}

.border-c_white {
  position: relative;

  &::after {
    border_line($ghost-white);
    border-width 1px;
  }
}

.border-top {
  position: relative;

  &::after {
    border_line();
    border-top-width: 1px;
  }
}

.border-top-c_white {
  position: relative;

  &::after {
    border_line($ghost-white);
    border-top-width: 1px;
  }
}

.border-top_line {
  position: relative;

  &:not(:last-child)::after {
    border_line();
    border-top-width: 1px;
  }
}

.border-top_line-c_white {
  position: relative;

  &:not(:last-child)::after {
    border_line($ghost-white);
    border-top-width: 1px;
  }
}

.border-bottom {
  position: relative;

  &::after {
    border_line();
    border-bottom-width: 1px;
  }
}

.border-bottom-c_white {
  position: relative;

  &::after {
    border_line($ghost-white);
    border-bottom-width: 1px;
  }
}

.border-bottom_line {
  position: relative;

  &:not(:last-child)::after {
    border_line();
    border-bottom-width: 1px;
  }
}

.border-bottom_line-c_white {
  position: relative;

  &:not(:last-child)::after {
    border_line($ghost-white);
    border-bottom-width: 1px;
  }
}

.border-cell {
  position: relative;

  &::after {
    border_line();
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}
