/* 公共样式 */
$white = white

$red = #f44; //红色
$orange = #f60; //橘红色
$dark-orange = Darkorange //深橙
$green = #06bf04; //浅绿色
$DodgerBlue = DodgerBlue; //天蓝色
$ghost-white = GhostWhite //鬼白色#F8F8FF
$gray-light = LightGrey; //浅灰色#D3D3D3
$silver = Silver; //银色#C0C0C0
$gray = #999; //灰色默认是	#808080

/* default colors */
$text-color = #666
$background-color = $ghost-white;
$border-color = $gray-light;
$text-color-gray = $gray;

/* 边框线 */
border_line($border_line-color = $border-color) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  z-index 2;
  transform: scale(.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid $border_line-color;
}

arrow_common() {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: $silver;
}

/* 朝右边箭头> */
arrow_right() {
  arrow_common()
  right: 2px;
  height: 6px;
  width: 6px;
  margin-top: -3px;
  transform: rotateZ(45deg);
}

/* 朝上边箭头^ */
arrow_top() {
  arrow_common()
  right: 15px;
  height: 12px;
  width: 12px;
  margin-top: -3px;
  transform: rotateZ(-45deg);
}

/* 朝下边箭头v */
arrow_bottom() {
  arrow_common()
  right: 15px;
  height: 12px;
  width: 12px;
  margin-top: -12px;
  transform: rotateZ(135deg);
}
