//布局样式

.container {
  width: 100%;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

//独占一行
.col {
  flex: 1;
  max-width: 100%;
}

//用多少占多少
.col-auto {
  flex: none;
  width: auto;
  max-width: none;
}

$col {
  position: relative;
  width: 100%;
  min-height: .5px;
}

for i in 1..24 {
  len = (i / 24 * 100%)
  .col-{i} {
    @extend $col
    flex: 0 0 len;
    max-width: len;
  }
}

for i in 1..24 {
  len = (i / 24 * 100%)
  .offset-{i} {
    margin-left: len;
  }
}

.order-first {
  order: -1;
}

.order-last {
  order: 25;
}

for i in 0..24 {
  .order-{i} {
    order: i;
  }
}
